*{
    margin: 0px;
}

body{
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
font-style: normal;
font-weight: normal;
color: white;
}
header{
    background-color: #333;
    width: 1000px;
    text-align: center;
    margin: auto;

}
.img_center{
    margin: auto;
    display: block;
}
header h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    font-style: bold;
    color: rgb(2, 2, 99);
    
}
#img_iit{
    width: 100%;
    text-align: center;
}
#menu_actuel{
    background-color: #4f4f4f;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    width: 1000px;
    background-color: #4f4f4f;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;

}
article{
    width: 80%;
    padding: 10px 0px;
    margin: auto;
}

main h1{
    font-size: 27px;
    font-weight: bold;
    font-style: italic;
    color: rgb(2, 2, 38);
    
}
main h2{
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    color: rgb(14, 14, 100);
    
}
main p{
    text-align: justify;
    text-indent: 20px;

}

footer{
    width: 1000px;
    background-color: #333;
    margin: auto;
}
footer p{
    font-size: 14px;
    text-align: left;
}






